@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-Thin.ttf) format('opentype');
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-ExtraLight.ttf) format('opentype');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-Light.ttf) format('opentype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-Regular.ttf) format('opentype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-Medium.ttf) format('opentype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-SemiBold.ttf) format('opentype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-Bold.ttf) format('opentype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-ExtraBold.ttf) format('opentype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/raleway/Raleway-Black.ttf) format('opentype');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Thin.ttf) format('opentype');
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-ExtraLight.ttf) format('opentype');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Light.ttf) format('opentype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Regular.ttf) format('opentype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Medium.ttf) format('opentype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-SemiBold.ttf) format('opentype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Bold.ttf) format('opentype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-ExtraBold.ttf) format('opentype');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/montserrat/Montserrat-Black.ttf) format('opentype');
	font-style: normal;
	font-weight: 900;
}

body {
	margin: 0;
}

.container {
	width: 1920px;
	margin: 0 auto;
	font-family: Raleway;
}

.main-header {
	width: 100%;
	background-color: rgba(17,17,17,0.7);
	background-image: url(../img/bg_photo_11949.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 40px 150px;
	box-sizing: border-box;
	color: #ffffff;
	font-family: Raleway;
}

.main-header-top {
	display: flex;
	justify-content: space-around;
	margin-bottom: 285px;
	align-items: center;
}

.main-header-brand-logo {
	width: 181px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
}

.main-header-brand-logo:hover {
	color: #c7b299;
}

.main-header-brand-logo:active {
	color: #ffffff;
}

.main-header-brand-logo-svg {
	fill: currentColor;
}

.main-header-brand-logo-txt {
	font-size: 34px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.04em;
}

.main-header-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main-header-menu-a {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
}

.main-header-menu-a-item {
	text-decoration: none;
	color: #ffffff;
	margin-right: 30px;
}

.main-header-menu-a-item:hover {
	color: #c7b299;
}

.main-header-menu-a-item:active {
	color: #ffffff;
}

.main-header-menu-a-item-active {
	color: #c7b299;
}

.main-header-menu-btn {
	width: 24px;
	height: 24px;
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
	color: #ffffff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
	margin-left: 63px;
}

.main-header-menu-btn svg {
	fill: #ffffff;
}

.main-header-menu-btn:hover svg {
	fill: #c7b299;
}

.main-header-menu-btn:active svg {
	fill: #ffffff;
}

.main-header-menu-form {
	position: relative;
}

.main-header-menu-search-icon {
	width: 24px;
	height: 24px;
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
	color: #ffffff;
	fill: #ffffff;
	margin-left: 28px;
	padding: 0 24px 0 6px;
	box-sizing: border-box;
	transition: width 1s ease-out;
}

.main-header-menu-search-icon:hover svg {
	fill: #c7b299;
}

.main-header-menu-search-icon:active svg {
	fill: #ffffff;
}

.main-header-menu-search {
	width: 0px;
	height: 0px;
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
	color: #ffffff;
	margin-left: 28px;
	padding: 0 6px 0 6px;
	box-sizing: border-box;
	transition: width 1s ease-out;
	position: absolute;
	top: 40px;
	left: -215px;
}

.main-header-menu-search:focus {
	width: 250px;
	height: 30px;
	background-color: #c7b299;
}

.main-header-carusel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-height: 600px;
}

.main-header-carusel-base {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.main-header-carusel-prev {
	width: 50px;
	height: 50px;
	border-top: 3px solid #ffffff;
	border-right: 3px solid #ffffff;
	transform: rotate(-135deg);
}

.main-header-carusel-next {
	width: 50px;
	height: 50px;
	border-top: 3px solid #ffffff;
	border-right: 3px solid #ffffff;
	transform: rotate(45deg);
}

.main-header-carusel-prev:hover,
.main-header-carusel-next:hover {
	border-top-color: #c7b299;
	border-right-color: #c7b299;
}

.main-header-carusel-prev:active,
.main-header-carusel-next:active {
	border-top-color: #ffffff;
	border-right-color: #ffffff;
}

.main-header-carusel-base h2 {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 500;
	text-align: center;
	margin: 0;
	margin-bottom: 14px;
}

.main-header-carusel-base h1 {
	font-size: 52px;
	line-height: 1.2;
	font-weight: 800;
	text-align: center;
	margin: 0;
	margin-bottom: 19px;
}

.main-header-carusel-base p {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-align: center;
	margin: 0;
	margin-bottom: 52px;
	width: 562px;
}

.main-header-carusel-base a {
	width: 170px;
	height: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	color: #ffffff;
	text-decoration: none;
	background-color: #998675;
	text-transform: uppercase;
}

.main-header-carusel-base a:hover {
	color: #c7b299;
	background-color: rgba(17,17,17,0.7);
}

.main-header-carusel-base a:active {
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
}

.main-header-carusel-base a span {
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
}

.main-header-carusel-pag {
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: flex-end;
}

.main-header-carusel-pag-item {
	display: block;
	width: 11px;
	height: 11px;
	background-color: #949291;
	border-radius: 50%;
	margin: 0 4.5px;
	border: 2px solid transparent;
}

.main-header-carusel-pag-item:hover,
.main-header-carusel-pag-item:active {
	border: 2px solid #949291;
	background-color: transparent;
	transform: scale(1.4);
}

.main-header-carusel-pag-item-active {
	border: 2px solid #949291;
	background-color: transparent;
	transform: scale(1.4);
}

.main-realization {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 80px;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.main-realization-card {
	cursor: pointer;
	width: 267px;
	margin-right: 33px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.main-realization-card:after {
	content: "";
	display: block;	
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
	margin: 0 auto;
	align-self: flex-end;
}

.main-realization-card.main-realization-card-active .main-realization-card-span {
	color: #c7b299;
}

.main-realization-card.main-realization-card-active svg {
	fill: #c7b299;
}

.main-realization-card.main-realization-card-active:after {
	background-color: #c7b299;
}

@keyframes anim3 {
    from {
    	color: #555555;
    }
  
    to {
    	color: #c7b299;
    }
}

.main-realization-card:hover .main-realization-card-span {
	color: #c7b299;
	animation: anim3 1s ease-in-out;
}

@keyframes anim {
    from {
    	fill: #555555;
    }
  
    to {
    	fill: #c7b299;
    }
}

.main-realization-card:hover svg {
	fill: #c7b299;
	animation: anim 1s ease-in-out;
}

@keyframes anim2 {
    from {
    	background-color: #f1eee9;
    }
  
    to {
    	background-color: #c7b299;
    }
}

.main-realization-card:hover:after {
	background-color: #c7b299;
	animation: anim2 1s ease-in-out;
}

.main-realization-card-i {
	fill: #555555;
	display: block;
	width: 52px;
	height: 52px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 29px;
}

.main-realization-card-span {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	margin-bottom: 19px;
}

.main-realization-card-p {
	margin: 0;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
	margin-bottom: 30px;
}

.main-realization-bi {
	width: 100%;
	min-height: 700px;
	background-color: #fbfaf8;
/*	background-image:
						url('../img/browser_center_10768.png'),
						url('../img/browser_left_10769.png'),
						url('../img/browser_right_10770.png');

	background-size: 50%, 50%, 50%;
	background-repeat: no-repeat;
	background-position: bottom center, bottom left, bottom right;*/
	padding: 83px 345px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-realization-bi-h2 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	text-align: center;
	margin: 0;
	margin-bottom: 24px;
}

.main-realization-bi-p {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
	margin: 0;
	width: 757px;
}

.main-realization-bi-c {
	width: 100%;
	background-image:
						url('../img/browser_center_10768.png'),
						url('../img/browser_left_10769.png'),
						url('../img/browser_right_10770.png');

	background-size: 65%, 60%, 60%;
	background-repeat: no-repeat;
	background-position: bottom center, bottom left, bottom right;
	align-self: flex-end;
	flex: 1;
}

.main-aside {
	background-color: #f4f5f8;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	padding: 48px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-aside-a {
	width: 170px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	color: #ffffff;
	text-decoration: none;
	background-color: #998675;
	text-transform: uppercase;
}

.main-aside-a:hover {
	color: #c7b299;
	background-color: rgba(17,17,17,0.7);
}

.main-aside-a:active {
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
}

.main-aside-div h2 {
	margin: 0;
	font-family: Raleway;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 8px;
}

.main-aside-div h2 span {
	color: #c7b299;
}

.main-aside-div p {
	margin: 0;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
	color: #615855;
}

.main-aside-a span {
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
}

.main-latest {
	padding: 80px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.main-latest-title {
	margin: 0;
	margin-bottom: 24px;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	text-align: center;
}

.main-latest-txt {
	margin: 0;
	margin-bottom: 40px;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
	width: 757px;
}

.main-latest-btns {
	display: flex;
	margin-bottom: 25px;
}

.main-latest-btns-item {
	height: 32px;
	color: #8c8c8c;
	background-color: #ffffff;
	text-transform: capitalize;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing: border-box;
	margin: 0 10px;
	cursor: pointer;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	outline: none;
}

.main-latest-btns-item:hover {
	color: #ffffff;
	background-color: #998675;
}

.main-latest-btns-item:active {
	color: #8c8c8c;
	background-color: #998675;
}

.main-latest-btns-item.main-latest-btns-item-active {
	background-color: #998675;
	color: #ffffff;
}

.main-latest-a {
	width: 170px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	color: #ffffff;
	text-decoration: none;
	background-color: #998675;
	text-transform: uppercase;
}
.main-latest-a span {
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
}

.main-latest-a:hover {
	color: #c7b299;
	background-color: rgba(17,17,17,0.7);
}

.main-latest-a:active {
	color: #ffffff;
	background-color: rgba(17,17,17,0.7);
}

.main-latest-cards {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;
	max-width: 1200px;
	justify-content: center;
}

.main-latest-cards-item {
	width: 370px;
	min-height: 337px;
	margin: 15px;
	display: flex;
	flex-direction: column;
	background-color: #fbfaf8;
}

.main-latest-cards-item img {
	width: 100%;
}

.main-latest-cards-item-div {
	padding: 30px 29px 27px;
	box-sizing: border-box;
	position: relative;
}

.main-latest-cards-item-div:before {
	content: "";
	border: 24px solid transparent;
	border-bottom: 15px solid #fbfaf8;
	position: absolute;
	top: -38px;
	left: 14px;
	z-index: 9;
}

.main-latest-cards-item-div h2 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #c7b299;
}

.main-latest-cards-item-div span {
	margin: 0;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #d1d1d1;
}

.main-latest-cards-item-div2 {
	position: absolute;
	width: 370px;
	height: 237px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.main-latest-cards-item-active .main-latest-cards-item-div {
	background-color: #362f2d;
}

.main-latest-cards-item-active .main-latest-cards-item-div:before {
	border-bottom: 15px solid #362f2d;
}

.main-latest-cards-item-active .main-latest-cards-item-div h2 {
	color: #ffffff;
}

.main-latest-cards-item-active .main-latest-cards-item-div p {
	color: #c7b299;
}

.main-latest-cards-item-active .main-latest-cards-item-div2 {
	display: flex;
}

.main-latest-cards-item-active .main-latest-cards-item-div2 .lupa svg {
	fill: #ffffff;
}

.main-latest-cards-item:hover .main-latest-cards-item-div {
	background-color: #362f2d;
}

.main-latest-cards-item:hover .main-latest-cards-item-div:before {
	border-bottom: 15px solid #362f2d;
}

.main-latest-cards-item:hover .main-latest-cards-item-div h2 {
	color: #ffffff;
}

.main-latest-cards-item:hover .main-latest-cards-item-div p {
	color: #c7b299;
}

.main-latest-cards-item:hover .main-latest-cards-item-div2 {
	display: flex;
}

.main-latest-cards-item-div2-a {
	width: 26px;
	height: 26px;
	margin: 14px;
}

.link svg {
	fill: #c7b299;
	/*background-image: url(../img/link_10955.svg);*/
}
.link:hover svg {
	fill: #ffffff;
}
.link:active svg {
	fill: #362f2d;
}

.lupa svg {
	fill: #c7b299;
	/*background-image: url(../img/lupa_10956.svg);*/
}
.lupa:hover svg {
	fill: #ffffff;
}
.lupa:active svg {
	fill: #362f2d;
}

.main-video {
	position: relative;
}

.main-video-center {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 210px;
	box-sizing: border-box;
}

.main-video-player {
	outline: none;
}

.main-video-btn {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	outline: none;
	border-width: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0;
	margin-bottom: 44px;
	transition: transform 1s ease-out, background-color 1s ease-out;
}

.main-video-btn svg {
	fill: #ffffff;
}

.main-video-btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
	transform: scale(1.2);
}

.main-video-btn:active {
	opacity: 0.7;
}

.main-video-h2 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	margin: 0;
	margin-bottom: 29px;
}

.main-video-p {
	width: 612px;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #ffffff;
	margin: 0;
	margin-bottom: 40px;
}

.main-video-span {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #c7b299;
}

.displayNone {
	display: none;
}

.main-mobile {
	padding-top: 79px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.main-mobile-txt {
	width: 667px;
	padding-top: 116px;
	box-sizing: border-box;
	margin-left: 29px;
}

.main-mobile-txt-h2 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	margin: 0;
	margin-bottom: 40px;
}

.main-mobile-txt-p {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	margin: 0;
	margin-bottom: 45px;
}

.main-mobile-txt-ul {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	color: #8c8c8c;
	margin: 0;
	margin-left: 60px;
	list-style-type: none;
	padding-left: 50px;
	box-sizing: border-box;
}

.main-mobile-txt-li {
	position: relative;
}

.main-mobile-txt-li:after {
	content: url(../img/01_10972.svg);
	display: block;
	position: absolute;
	top: 5px;
	left: -50px;
}

.main-figure {
	padding: 69px 0 60px 0;
	box-sizing: border-box;
	background-color: #f4f5f8;
	background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	display: flex;
	justify-content: center;
}

.main-figure-item {
	width: 145px;
	padding: 0;
	box-sizing: border-box;
	margin: 0 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-figure-svg {
	margin: 0;
	margin-bottom: 30px;
	fill: #c7b299;
}

.main-figure-figcaption {
	font-family: Montserrat;
	font-size: 48px;
	line-height: 36px;
	font-weight: 200;
	color: #ffffff;
	margin: 0;
	margin-bottom: 21px;
}

.main-figure-span {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #c7b299;
	margin: 0;
	margin-bottom: 30px;
}

.main-figure-item:after {
	content: "";
	display: block;	
	width: 30px;
	height: 2px;
	background-color: #ffffff;
	margin: 0 auto;
}

.main-article {
	padding: 82px 0 80px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-article-h2 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	text-align: center;
	margin: 0;
	margin-bottom: 30px;
}

.main-article-p {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
	text-align: center;
	width: 777px;
	margin: 0;
	margin-bottom: 40px;
}

.main-article-div {
	display: flex;
	margin-bottom: 40px;
}

.main-article-div-article {
	width: 370px;
	margin: 0 15px;
	position: relative;
	border: 1px solid #f8f8f8;
	transition: background 1s ease-out, border 1s ease-out;
}

.main-article-div-article img {
	transition: filter 1s ease-out;
}

.main-article-div-cal {
	position: absolute;
	top: 20px;
	left: 20px;
}

.main-article-div-day {
	font-family: Montserrat;
	font-size: 24px;
	line-height: 20px;
	font-weight: 300;
	color: #ffffff;
	display: block;
	width: 50px;
	height: 35px;
	background-color: #363636;
	border-radius: 3px 3px 0px 0px;
	text-align: center;
	line-height: 35px;
	transition: background 1s ease-out;
}

.main-article-div-month {
	font-family: Roboto;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #ffffff;
	display: block;
	width: 50px;
	height: 25px;
	background-color: #252525;
	border-radius: 0px 0px 3px 3px;
	text-align: center;
	line-height: 25px;
	transition: background 1s ease-out;
}

.main-article-div-article-active {
	background-color: #362f2d;
	border: 1px solid #362f2d;
}

.main-article-div-article-active .main-article-div-img {
	filter: brightness(0.5);
}

.main-article-div-carusel-pag {
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	position: absolute;
	top: 180px;
}

.main-article-div-carusel-pag-item {
	display: block;
	width: 11px;
	height: 11px;
	background-color: #ffffff;
	opacity: 0.3;
	border-radius: 50%;
	margin: 0 4.5px;
	border: 2px solid transparent;
}

.main-article-div-carusel-pag-item:hover,
.main-article-div-carusel-pag-item:active {
	border: 2px solid #d3c1ad;
	background-color: transparent;
	transform: scale(1.36);
}

.main-article-div-carusel-pag-item-active {
	border: 2px solid #d3c1ad;
	background-color: transparent;
	transform: scale(1.36);
}



.main-article-div-article-active .main-article-div-h2 {
	color: #c7b299;
}

.main-article-div-article-active .main-article-div-p {
	color: #ffffff;
}

.main-article-div-article-active .main-article-div-day {
	background-color: #c7b299;
}

.main-article-div-article-active .main-article-div-month {
	background-color: #a48d72;
}

.main-article-div-article:hover {
	background-color: #362f2d;
	border: 1px solid #362f2d;
}

.main-article-div-article:hover .main-article-div-img {
	filter: brightness(0.5);
}

.main-article-div-article:hover .main-article-div-h2 {
	color: #c7b299;
}

.main-article-div-article:hover .main-article-div-p {
	color: #ffffff;
}

.main-article-div-article:hover .main-article-div-day {
	background-color: #c7b299;
}

.main-article-div-article:hover .main-article-div-month {
	background-color: #a48d72;
}

.main-article-div-img {
	margin-bottom: 30px;
	display: block;
}

.main-article-div-h2 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #555555;
	margin: 0 29px 19px;
}

.main-article-div-p {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: #8c8c8c;
	margin: 0 29px 27px;
}

.main-article-div-a {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #c7b299;
	margin: 0 29px 33px;
	display: block;
	text-decoration: none;
	position: relative;
	width: max-content;
}
.main-article-div-a:after {
	content: url(../img/arrow_11665.svg);
	width: 5px;
	height: 8px;
	position: absolute;
	top: 2px;
	right: -10px;
}
.main-article-div-a:hover {
	color: #ffffff;
}
.main-article-div-a:active {
	color: #c7b299;
}

.main-article-arrow svg {
	margin: 0 4px;
}

.main-article-arrow svg:nth-child(1) {
	fill: #d1d1d1;
}

.main-article-arrow svg:nth-child(2) {
	fill: #c7b299;
}

.main-article-arrow svg:hover,
.main-article-arrow svg:active {
	fill: #362f2d;
	cursor: pointer;
}

.main-links {
	width: 100%;
	background-color: rgba(17,17,17,0.7);
	background-image: url(../img/bg_photo_11122.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 140px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.main-links a {
	display: block;
	margin: 0 45px;
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-links a img {
	transition: transform 1s ease-out;
	width: 100%;
    height: auto;
}

.main-links a:hover:after,
.main-links a:active:after {
    content: "";
    display: block;
    width: 105px;
    height: 3px;
    background: white;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: scale(1.1);
}

.main-links a:hover img {
    transform: scale(1.1);
}

.main-footer {
	width: 100%;
	background-color: #191919;
	padding: 80px 0;
	display: flex;
	justify-content: center;
}

.main-footer-desc {
	width: 260px;
	margin: 0 15px;
}

.main-footer-desc-h2 {
	margin: 0;
	margin-bottom: 29px;
}

.main-footer-desc-p {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #555555;
	margin: 0;
	margin-bottom: 33px;
}

.main-footer-desc-a {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #d1d1d1;
	display: block;
	text-decoration: none;
	position: relative;
	width: max-content;
}
.main-footer-desc-a:after {
	content: url(../img/arrow_11665.svg);
	width: 5px;
	height: 8px;
	position: absolute;
	top: 2px;
	right: -10px;
}
.main-footer-desc-a:hover {
	color: #ffffff;
}
.main-footer-desc-a:active {
	color: #c7b299;
}

.main-footer-desc-div-posts {
	display: flex;
}

.main-footer-desc-posts {
	width: 260px;
	margin: 0 15px;
	padding-top: 28px;
	box-sizing: border-box;
}

.main-footer-desc-posts-h2 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
	margin-bottom: 33px;
}

.main-footer-desc-posts-item {
	padding-bottom: 21px;
	margin-bottom: 21px;
	border-bottom: 2px solid #252525;
	box-sizing: border-box;
    display: block;
    text-decoration: none;
}

.main-footer-desc-posts-item:nth-last-of-type(1) {
	border-bottom-width: 0px;
}

.main-footer-desc-posts-item time {
	font-family: Montserrat;
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	color: #363636;
	margin: 0;
	margin-bottom: 10px;
}

.main-footer-desc-posts-item h3 {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #555555;
	margin: 0;
}

.main-footer-desc-posts-item-active span {
	color: #ffffff;
}

.main-footer-desc-posts-item-active h3 {
	color: #c7b299;
}

.main-footer-desc-posts-item:hover span {
	color: #ffffff;
}

.main-footer-desc-posts-item:hover h3 {
	color: #c7b299;
}

.main-footer-desc-twit {
	width: 270px;
	margin: 0 15px;
	padding-top: 28px;
	box-sizing: border-box;
}

.main-footer-desc-twit-h2 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
	margin-bottom: 30px;
}

.main-footer-desc-twit-item {
	padding-bottom: 21px;
	margin-bottom: 21px;
	border-bottom: 2px solid #252525;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
}

.main-footer-desc-twit-item:nth-last-of-type(1) {
	border-bottom-width: 0px;
}

.main-footer-desc-twit-item p {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #555555;
	margin: 0;
	margin-bottom: 11px;
}

.main-footer-desc-twit-item p > a.hash {
	color: #00bff3;
}

.main-footer-desc-twit-item > time {
	font-family: Montserrat;
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	color: #363636;
}

.main-footer-desc-twit-item p > a {
	color: #959595;
	text-decoration: none;
}

.main-footer-desc-twit-item p > a:hover,
.main-footer-desc-twit-item p > a:active {
	color: #ffffff;
}

.main-footer-desc-widget {
	width: 270px;
	margin: 0 15px;
	padding-top: 28px;
	box-sizing: border-box;
}

.main-footer-desc-widget-h2 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
	margin-bottom: 26px;
	width: 100%;
}

.main-footer-desc-widget div {
    display: flex;
    flex-wrap: wrap;
}

.main-footer-desc-widget div img {
    display: block;
}

.main-footer-desc-widget div img:nth-child(1),
.main-footer-desc-widget div img:nth-child(3) {
	margin-right: 10px;
}

.main-footer-desc-widget div img:nth-child(1),
.main-footer-desc-widget div img:nth-child(2) {
	margin-bottom: 10px;
}

.main-footer-desc-widget div img:hover {
	transform: scale(1.3);
}

.footer {
	background-color: #111111;
	padding: 45px 0 52px;
	display: flex;
	justify-content: space-evenly;
}

.footer-span,
.footer-a {
	font-family: Montserrat;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	color: #555555;
	text-decoration: none;
}

.footer-a-brand {
	color: #959595;
}

.footer-activ {
	color: #c7b299;
}

.footer-a:hover,
.footer-a:active {
	color:  #c7b299;
}

.footer-separator:after {
	content: "|";
	color: #252525;
	margin-left: 10px;
	margin-right: 10px;
}


/*
Дполнительное задание от преподавателя:
Создать боковой блок с кнопками социальных сетей на Вашем сайте, при наведении и(или) нажатии на иконку соцсетей должна быть анимация (например, плавное выдвижение блока).
*/
.soc-seti {
	position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0px, -50%);
    padding: 10px 5px;
    box-sizing: border-box;
}

.soc-seti-icon {
	display: block;
	width: 42px;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	transition: transform 1.5s linear;
}

.soc-seti-icon:nth-of-type(1) {
	background-image: url('http://s1.iconbird.com/ico/0912/SomacroIconSet/w500h5001347632760twitter.png');
}

.soc-seti-icon:nth-of-type(2) {
	background-image: url('http://s1.iconbird.com/ico/0912/SomacroIconSet/w500h5001347632752facebook500.png');
	margin: 10px 0;
}

.soc-seti-icon:nth-of-type(3) {
	background-image: url('http://s1.iconbird.com/ico/0912/SomacroIconSet/w500h5001347632752linkedin.png');
	margin: 10px 0;
}

.soc-seti-icon:nth-of-type(4) {
	background-image: url('http://s1.iconbird.com/ico/0912/SomacroIconSet/w500h5001347632752googleplusrevised.png');
	margin: 10px 0;
}

.soc-seti-icon:nth-of-type(5) {
	background-image: url('http://s1.iconbird.com/ico/0912/SomacroIconSet/w500h5001347632760youtube.png');
}

.soc-seti-block {
	width: 300px;
	height: 270px;
	background: black;
	border: 1px solid black;
	position: absolute;
	top: 0;
	left: -248px;
	box-sizing: border-box;
	z-index: -1;
	transition: left 1.5s ease-out, background-color 1.5s ease-in-out;
}

.soc-seti-icon:hover {
	transform: rotate(360deg);
}

.soc-seti-icon:active {
	transform: rotate(360deg) scale(1.2);
}

.soc-seti-icon:hover ~ .soc-seti-block {
	left: 62px;
	background-color: blue;
}

.soc-seti-icon:active ~ .soc-seti-block {
	background-color: orange;
}